<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head.ejs')%>

<body>
 
    <!-- header -->
    <%-include('./partials/header')%>
    <main>
        <!--Contenido de la página-->
        <!-- Muestra de JS en EJS (quitar los #)-->
        <%# for (let contador =0 ;contador <= 5; contador++ ){ %>
            <!--<p>hola<%#contador %> </p>-->
        <%# }%>   

        <div class="container titulo-vendidos mas-vendidos">
            <h2>Los mas vendidos</h2>
        </div>

        <!-- productos -->
        <section class="contenedor container">
            <div class="contenedor-section">

                <%# products[0].nombre %> 
                <% products.forEach(productos => { %> 
                    <article class="article-product">
                        <a href="/detail/<%= productos.id %> "><img src="/images/products/<%= productos.image %>" alt="<%= productos.nombre %> "></a>
                        <h3><%= productos.nombre %></h3>
                        <p><%= productos.description %></p>
                        <h6>$<%= productos.price %></h6>
                        <button><a href="/detail/<%= productos.id %>">Ver producto</a></button>
                        <button><a href="/cart/">Carrito</a></button>
                    </article>

                <% }) %> 

            </div>
        </section>

    </main>
   <!-- footer -->
   <%-include('./partials/footer.ejs')%>
   <!-- bootstrap scripts -->
   <%-include('./partials/bootstrap-js.ejs')%>
</body>

</html>