<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>
    <!-- Cabezera -->
    <%- include('./partials/header') %>
    <main class="main-login">
        <!--Contenido de la p치gina-->
        <div class="form-login logeo">
            <div class="container">
                <form action="/register" method="post">
                    <div class="container registerformulario" >
                        <div class="main-login">
                            <img src="/images/0001.png" alt="logo" class="logo">
                        </div>

                        <label for="nombre">
                            <p>Nombre</p>
                        </label>
                        
                        <label for="email">
                            <p>email:</p>
                        </label>
                        <input type="email" name="email" id="email">
                        <% if(locals.errors && errors.email){ %>
                            <!-- comprobamos si hay errores(practica) -->
                        <span>
                            <%= errors.email.msg %>
                        </span>
                        <% } %>
                        <label for="contrasenia">
                            <p>contrase침a:</p>
                        </label>
                        <input type="password" name="contrasenia" id="contrasenia">
                        <label for="confirmar">
                            <p>Confirmar contrase침a:</p>
                        </label>
                        <input type="password" name="confirmar" id="confirmar">
                        
                        <input type="submit" value="enviar">
                    </div>               
                
                </form>
            </div>
        </div>
    </main>
    <!-- Pie de la p치gina -->
    <%- include('./partials/footer') %> 
    <%- include('./partials/bootstrap-js') %> 
</body>

</html>